#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Automated install
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=vda
# Keyboard layouts
keyboard --vckeymap=be --xlayouts='be'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=eth0 --gateway=10.60.0.1 --ip={{vm_ip}} --nameserver=10.60.0.1 --netmask=255.255.255.0 --ipv6=auto --activate
network  --hostname={{vm_hostname}}


# System services
services --disabled="chronyd"
# System timezone
timezone Europe/Brussels --isUtc --nontp
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=vda

# Root password
rootpw --iscrypted $6$SgI5vNf2mKfZzQWi$LzFIIk8CbKImbuyBgzoW5aJ.rI22l6v8xCeSrhnBwqNx5.lYe.SaunhxGI.7LM2dMTWEf8u1OL/rUN47BEwWX/

# System services
services --disabled="chronyd"

# System timezone
timezone Europe/Brussels --isUtc --nontp
user --groups=wheel --name=pieter --password=$6$5BoIqPYql06wrnv3$Kn9lpPWrigonWVQwkmH4/gKY9R6lIYP9U1lHtIO0u39l.BuMX/ZIVvrX6yRQx//Bf7itE6EghxEmqqfiA0ks51 --iscrypted --gecos="Pieter De Praetere"

# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=vda

# Partitioning
zerombr
clearpart --all --drives=vda
part /boot --size=1000 --fstype=xfs
part vda2 --size=11000 --grow --ondisk=vda --fstype=lvmpv
volgroup Base vda2
logvol / --vgname=Base --size=4000 --name=Root --fstype=xfs
logvol /var --vgname=Base --size=4000 --name=Var --fstype=xfs
logvol /var/log --vgname=Base --size=2000 --name=VarLog --fstype=xfs
logvol /home --vgname=Base --size=1000 --name=Home --fstype=xfs

# Reboot at the end
reboot

%packages
@^minimal
@core
kexec-tools
-firewalld
-iwl*

%end

%post
# Configure /etc/resolv.conf
echo "Configuring /etc/resolv.conf ..."
echo "search dc.nidavellir.be" > /etc/resolv.conf
echo "nameserver 172.18.0.1" >> /etc/resolv.conf

# Install some tools
echo "Installing epel ..."
yum install -y epel-release
yum install -y vim htop

# Install Puppet
echo "Installing Puppet ..."
echo "172.18.0.1      mut.dc.nidavellir.be" >> /etc/hosts
curl "https://yum.puppetlabs.com/puppetlabs-release-pc1-el-7.noarch.rpm" > /tmp/puppetlabs-release-pc1-el-7.noarch.rpm
rpm -ivh /tmp/puppetlabs-release-pc1-el-7.noarch.rpm
yum install -y puppet-agent

# Configure Puppet
echo "Configurping Puppet ..."
echo "[main]" > /etc/puppetlabs/puppet/puppet.conf
echo "server = mut.dc.nidavellir.be" >> /etc/puppetlabs/puppet/puppet.conf
echo "environment = production" >> /etc/puppetlabs/puppet/puppet.conf
echo "runinterval = 1h" >> /etc/puppetlabs/puppet/puppet.conf

# Register Puppet with Puppet server
echo "Generating certificate for Puppet ..."
/opt/puppetlabs/bin/puppet agent --test

# Enable Puppet on boot
echo "Ensuring that Puppet runs on boot ..."
systemctl enable puppet

# Install Zabbix
echo "Installing Zabbix agent ..."
curl "https://repo.zabbix.com/zabbix/3.4/rhel/7/x86_64/zabbix-release-3.4-2.el7.noarch.rpm" > /tmp/zabbix-release-3.4-2.el7.noarch.rpm
rpm -ivh /tmp/zabbix-release-3.4-2.el7.noarch.rpm
yum install -y zabbix-agent

# Create PSK; configuration is done with Puppet
echo "Creating PSK for Zabbix agent ..."
openssl rand -hex 32 > /etc/zabbix/psk.key
chown zabbix:zabbix /etc/zabbix/psk.key
chmod 0640 /etc/zabbix/psk.key

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
